ENABLE_VNC=1
VNC_PASSWORD=021adba47607e71671d99f8f5dbfd123

# Proxy (optional, uncomment to use)
# PROXY_HOST=host.docker.internal
# PROXY_PORT=8138
# PROXY_SCHEME=http
# PROXY_USERNAME=
# PROXY_PASSWORD=